@model MvcPlayground.Models.Person

@{
    ViewBag.Title = "AutoCompleteWithEditorTemplate";
}

<h2>AutoCompleteWithEditorTemplate</h2>

@Html.EditorForModel()

@{
    /*Html.EnumDropDownListFor(model => model.FavoriteColor) */
}
