@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<label for="somevalue">Some value:</label>
<input type="text" id="somevalue" name="somevalue" data-autocomplete-url="@Url.Action("AutoComplete")"/>

<p>Sources:
    <ul>
        <li><a href="http://blogs.msdn.com/b/stuartleeks/archive/2012/04/23/asp-net-mvc-amp-jquery-ui-autocomplete.aspx">http://blogs.msdn.com/b/stuartleeks/archive/2012/04/23/asp-net-mvc-amp-jquery-ui-autocomplete.aspx</a></li>
        <li><a href="http://blogs.msdn.com/b/stuartleeks/archive/2012/05/02/asp-net-mvc-amp-jquery-ui-autocomplete-part-2-editorfor.aspx">http://blogs.msdn.com/b/stuartleeks/archive/2012/05/02/asp-net-mvc-amp-jquery-ui-autocomplete-part-2-editorfor.aspx</a></li>
        <li><a href="http://blogs.msdn.com/b/stuartleeks/archive/2012/05/24/asp-net-mvc-supplying-html-attributes-with-editorfor.aspx">http://blogs.msdn.com/b/stuartleeks/archive/2012/05/24/asp-net-mvc-supplying-html-attributes-with-editorfor.aspx</a></li>
    </ul>
</p>