@model MvcPlayground.Models.GeneratePDFModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GeneratePDF</title>
</head>
    <body>
        <div>
            Hi @Model.Name
        </div>
        <div>
            <img src="@Model.PDFLogo" alt="" />
        </div>
        <div>
            @Html.Raw(Model.PDFContent)
        </div>
    </body>
</html>
